{% extends "blog/base.html" %}
{% block content %}
<div class="content-section" style="font-size:18px;">
<header class="entry-header">
      <h1 class="entry-title text-center" ><strong>Know Us</strong></h1>          </header><!-- .entry-header -->

 
<hr>

<h3><strong>How do we help you achieve your goals ?</strong></h3>
<p >Once you contact us with your desired 
fitness targets, you will embark on a beautiful journey with us, that 
will complete only when you have achieved your goals.</p>

<p >This is the step by step process that you need to follow.</p>

<p class="step"><strong>Step 1</strong> : <strong>Talk to us</strong></p>
<p >Once you contact us, we will discuss in 
great detail about your eating habits, your lifestyle and your fitness 
goals and plan our fitness journey accordingly.</p>
<p >Help us with your fitness goal in detail.</p>

<p class="step"><strong>Step 2</strong> : <strong>Preliminary days</strong></p>
<p >Day 1 to 4</p>
<p >For the first four days, you will have to 
send us photographs of whatever you eat, over whatsapp or email, this 
will help us assess your eating habits.</p>

<p class="step"><strong>Step 3:</strong> <strong>Week 1 : Knowing more about you</strong></p>
<p >After gathering information about your 
eating habits and lifestyle, we will start your fitness schedule, 
especially customized for you. We will together make a diet plan that is
 easy for you to follow, by making minimal changes.</p>
<p >We will contact you on a regular basis over whatsapp or call, and make sure that you are sticking to the plan.</p>

<p class="step"><strong>Step 4 : Week 2 : Raising the bar</strong></p>
<p >This is the week, where we will take it a 
notch higher and start introducing some exercising in your schedule, we 
will make gradual changes and then proceed accordingly.</p>
<p >At
 the end of second week, we do a weight check and determine, what is 
your weight gain/loss rate, this will help us make a plan about how many
 days you will take to complete your fitness journey.</p>

<p class="step"><strong>Step 5 : Week 3 : Keep going</strong></p>
<p >This is the week where you will have one 
day of fasting, believe us, even if you have never fasted in the past, 
you will be able to do it easily.</p>
<p >This is how the process will continue and 
we will keep tracking your progress at regular intervals. You just have 
to trust us and follow the process and the results will follow.</p>

<h3>We will push you mentally too</h3>

<p >There will be times when you want to give 
up, and say that I can’t do it, and that is when we will help you to get
 through the difficult phase, don’t worry we will be there with you from
 start to finish.</p>

<p >So what are you waiting for, just click on the link below and get started.</p>
<p ><a href="https://weworkout246169770.wordpress.com/contact/">Contact Us</a></p>
<p ><strong>Team WeWorkout</strong></p>
<p ><strong>Stay Fit | Stay Healthy</strong></p>
</div>
{% endblock content %}
