            <!-- details  -->
            <table class="table table-sm table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>Branch</th>
                    <td>{{post.branch}}</td>
                    <th>Subject</th>
                    <td>{{post.subject}}</td>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <td>{{post.year}}</td>
                  </tr>
                </tbody>
            </table>
            <!-- details end -->