
<div class="content-section px-3 py-2 mr-0"   style="font-weight: 500; font-size: 13px;  ">
 
  <form method="GET" class="text-dark">
     
    <!-- row 1  -->

    <!-- row 2  -->
    <div class="form-row p-0 mt-0">
      <div class="col-4  py-0  my-0 ">
        {{"Year"}}
      </div>
      <div class="col-4  py-0 my-0" >
        {{ filter.form.year_min }}
      </div>
      <div class="col-4 py-0 my-0">
        {{ filter.form.year_max  }}
      </div>
  
    </div>
    <!-- row 3 : sell  -->
    <div class="form-row py-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Buy Price"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.sell_price__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.sell_price__lt }}  
      </div>
 
    </div>
    
    <!-- row 4 : hour  -->
    <div class="form-row py-0 mt-1">
      <div class="form-group col-md-4  py-0 my-0">
        {{"Rent Hour"}}
      </div>
      <div class="form-group col-md-4  py-0 my-0">
         {{ filter.form.rent_hour__gt }}  
      </div>
      <div class="form-group col-md-4 py-0 my-0">
         {{ filter.form.rent_hour__lt }}  
      </div>
   
    </div>
    <!-- row 5 : day  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent day"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_day__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_day__lt }}  
      </div>
  
    </div>
    <!-- row 6 : week  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent Week"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_week__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_week__lt }}  
      </div>
 
    </div>
    <!-- row 7 : month  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent Month"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_month__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_month__lt }}  
      </div>
 
    </div>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-outline-dark mt-1 py-1 "   >
      Search
    </button>
    </div>
  </form>
</div>