{% load crispy_forms_tags %}
<div class="content-section px-3 py-2 mr-0"   style="  font-weight: 500; font-size: 13px;  ">
 
  <form method="GET" class="text-dark">
    <!-- {{ filter.form|crispy }} -->
    <!-- row 1  -->
    <div class="form-row p-0 mt-0">
      <div class="form-group col-md-10 p-0 mb-1">
        {{ filter.form.title }} 
      </div>
      <div class="form-group col-md-2 py-0 ml-0 mb-1">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0 my-0" style="height:35px;">
          <p class="text-center" ><i class="fa fa-search" aria-hidden="true"></i></p>  
        </button>
      </div>
    </div>
    <!-- row 2  -->
    <div class="form-row p-0 mt-0">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Year"}}
      </div>
      <div class="form-group col-md-4  py-0 my-0 " >
        {{ filter.form.year_min }}
      </div>
      <div class="form-group col-md-4 py-0 my-0">
        {{ filter.form.year_max  }}
      </div>
      <!-- <div class="form-group col-md-2  py-0 my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0 my-0" style="height:35px;">
          <p class="text-center" >Go</p>  
        </button>
      </div> -->
    </div>
    <!-- row 3 : sell  -->
    <div class="form-row py-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Buy Price"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.sell_price__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.sell_price__lt }}  
      </div>
      <!-- <div class="form-group col-md-2  py-0  my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0 my-0" style="height:35px;">
          <p class="text-center" >Go</p>  
        </button>
      </div> -->
    </div>
    
    <!-- row 4 : hour  -->
    <div class="form-row py-0 mt-1">
      <div class="form-group col-md-4  py-0 my-0">
        {{"Rent Hour"}}
      </div>
      <div class="form-group col-md-4  py-0 my-0">
         {{ filter.form.rent_hour__gt }}  
      </div>
      <div class="form-group col-md-4 py-0 my-0">
         {{ filter.form.rent_hour__lt }}  
      </div>
      <!-- <div class="form-group col-md-2  py-0 my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0 my-0" style="height:35px;">
          <p class="text-center">Go</p>  
        </button>
      </div> -->
    </div>
    <!-- row 5 : day  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent day"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_day__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_day__lt }}  
      </div>
      <!-- <div class="form-group col-md-2  py-0  my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm" style="height:35px;">
          <p class="text-center" >Go</p>  
        </button>
      </div> -->
    </div>
    <!-- row 6 : week  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent Week"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_week__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_week__lt }}  
      </div>
      <!-- <div class="form-group col-md-2  py-0  my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0  my-0" style="height:35px;">
          <p class="text-center" >Go</p>  
        </button>
      </div> -->
    </div>
    <!-- row 7 : month  -->
    <div class="form-row p-0 mt-1">
      <div class="form-group col-md-4  py-0  my-0">
        {{"Rent Month"}}
      </div>
      <div class="form-group col-md-4  py-0  my-0">
         {{ filter.form.rent_month__gt }}  
      </div>
      <div class="form-group col-md-4 py-0  my-0">
         {{ filter.form.rent_month__lt }}  
      </div>
      <!-- <div class="form-group col-md-2  py-0  my-0">
        <button type="submit" class="btn btn-outline-dark btn-sm py-0  my-0" style="height:35px;">
          <p class="text-center" >Go</p>  
        </button>
      </div> -->
    </div>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-outline-dark mt-1 py-1 "   >
      Search
    </button>
    </div>
    

  </form>
            
  <!-- <ul class="list-group ">
    
    <li class="list-group-item side_bar_l"  >
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='bike' %}">
        <i class="fa fa-list"></i>  {{"Bike"|upper}}
      </a>
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='bike' %}">
        <i class="fa fa-plus-circle"></i>  {{"Add Bike"|upper}}
      </a>
    </li>
    <li class="list-group-item side_bar_l"  >
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='scooty' %}">
        <i class="fa fa-list"></i>  {{"Scooty"|upper}}
      </a>
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='scooty' %}">
        <i class="fa fa-plus-circle"></i>  {{"Add Scooty"|upper}}
      </a>
    </li>
    <li class="list-group-item side_bar_l" >
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='mobile' %}">
        <i class="fa fa-list"></i>  {{"Mobile"|upper}}
      </a>
      <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='mobile' %}">
        <i class="fa fa-plus-circle"></i>  {{"Add Mobile"|upper}}
      </a>
    </li>
    <li class="list-group-item side_bar_l">
      <a class=" nav-link side_bar_l_c" href="#">
        <i class="fa fa-info-circle"></i> {{"About us"|upper}}
      </a>
    </li>
    <li class="list-group-item side_bar_l">
      <a class=" nav-link side_bar_l_c" href="{% url 'profile' %}">
          <i class="fa fa-user-circle"></i> {{"Profile"|upper}}
      </a>
    </li>
    <li class="list-group-item side_bar_l">
      {% if user.is_authenticated %}
      <a class=" nav-link side_bar_l_c" href="{% url 'logout' %}">
          <i class="fa fa-sign-out"></i> {{"loGo</p>ut"|upper}}
      </a>
      {% else %}
      <a class=" nav-link side_bar_l side_bar_l_c" href="{% url 'login' %}">
          <i class="fa fa-sign-out"></i> {{"login"|upper}}
      </a>
      {% endif %}

    </li>
  </ul> -->
</div>