            <!-- details  -->
            <table class="table table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>RAM</th>
                    <td>{{post.ram}} GB</td>
                    <th>Internal</th>
                    <td>{{post.internal_memory}} GB</td>
                  </tr>
                  <tr>
                    <th>internal graphic card</th>
                    <td>{{post.internal_graphic_card}} GB</td>
                    <th>external graphic card</th>
                    <td>i{{post.external_graphic_card}} GB</td>
                  </tr>
                  <tr>
                    <th>Processor</th>
                    <td>i{{post.processor}}</td>
                    <th>Year</th>
                    <td>{{post.year}}</td>
                  </tr>

                </tbody>
            </table>
            <!-- details end -->