            <!-- details  -->
            <table class="table table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>Port </th>
                    <td>{{post.port_type}} type</td>
                    <th>Original</th>
                    <td>{{post.original}}</td>
                  </tr>
                  <tr>
                    <th>Voltage</th>
                    <td>{{post.voltage}} type</td>
                    <th>Ampere</th>
                    <td>{{post.ampere}}</td>
                  </tr>
                  <tr>
                    <th>Length</th>
                    <td>{{post.cable_length}}</td>
                    <th>Year</th>
                    <td>{{post.year}}</td>
                  </tr>
                </tbody>
            </table>
            <!-- details end -->