            <!-- details  -->
            <table class="table table-sm table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>Brand</th>
                    <td>{{post.brand}}</td>
                    <th>Gaming</th>
                    <td>{{post.gaming}}</td>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <td>{{post.year}}</td>
                  </tr>
                </tbody>
            </table>
            <!-- details end -->