            <!-- details  -->
            <table class="table table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>Genre</th>
                    <td>{{post.genre}}</td>
                    <th>Author</th>
                    <td>{{post.novel_author}}</td>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <td>{{post.year}}</td>

                  </tr>
                </tbody>
            </table>
            <!-- details end -->