            <!-- details  -->
            <table class="table table-hover" style="font-size: 12px;">
                <tbody>
                  <tr>
                    <th>Board</th>
                    <td>{{post.board}}</td>
                    <th>Std</th>
                    <td>{{post.std}}</td>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <td>{{post.year}}</td>
                    <th>Subject</th>
                    <td>{{post.subject}}</td>
                  </tr>
                </tbody>
            </table>
            <!-- details end -->