{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
 
{% block update %}
<div class="container-fluid ml-4" style="justify-content: center; font-weight: 600; font-size: 14px;">
    <div>
        <h3 class="  p-1 mx-4 ">New  Post</h3> 
    </div>
    
        <div class="  content-section text-dark    my-2"  >
            <form method="POST" enctype="multipart/form-data">
 
                {% csrf_token %}
                <fieldset class="">
                    <!-- <legend class="border-bottom mb-4">New  Post</legend> -->

                    <div class="form-row">
                        <div class="form-group col-3 px-3"> 
                            <button type="button" class="mb-2 btn btn-secondary btn-block" data-toggle="tooltip" data-placement="top" title="In this column - all field are compulsory">
                                <div>Choose Category</div> 
                            </button>
                            
                               
                                <div class="row py-1 list-group" id="list-example">
                                    <div class="col-12">
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='stationery' %}">stationery</a>
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='electronics' %}">electronics</a>
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='furniture' %}">furniture</a>
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='vehicle' %}">vehicle</a>
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='household' %}">household</a>
                                        <a class="list-group-item list-group-item-action" href="{% url 'subcat-create' model='other' %}">other</a> 
                                    </div>                                     
                                </div>
                               
                        </div>
                        <div class="form-group col-3 px-3 py-0"> 
                            <button type="button" class="mb-2 btn btn-secondary btn-block" data-toggle="tooltip" data-placement="top" title="In this column - fill at least one field">
                                <div>Fill at least one</div> 
                            </button>
                        
                            {% for field in form %}
                                {% if forloop.counter0 <= 2 %}
                                <div class="row py-1" >
                                    <div class="col-4">{{ field.label }}* </div>
                                    <div class="col-7 "  >{{ field|attr:"cols:24"}}</div>
                                    <div class="col-1"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group col-3 px-3">  
                            <button type="button" class="mb-2 btn btn-secondary btn-block" data-toggle="tooltip" data-placement="top" title="In this column - all field are optional">
                                <div>Optional</div> 
                            </button>      
                            
                            {% for field in form %}
                                {% if forloop.counter0 >= 3 and forloop.counter0 <= 7 %}
                                <div class="row py-1" >
                                    <div class="col-5">{{ field.label}} </div>
                                    <div class="col-6 " style="text-align: right; ">{{field}}</div>
                                    <div class="col-1"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group col-3 px-3"> 
                            <button type="button" class="mb-2 btn btn-secondary btn-block" data-toggle="tooltip" data-placement="top" title="In this column - all field are optional">
                                <div>Optional</div> 
                            </button>
                        
                            {% for field in form %}
                                {% if forloop.counter0 >= 8 and forloop.counter0 <= 11 %}
                                <div class="row py-1" >
                                    <div class="col-4">{{ field.label}} </div>
                                    <div class="col-6 mx-0" style="text-align: right;">{{field}}</div>
                                    <div class="col-2"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>       
                    </div>

                </fieldset>
                <div class="form-group ml-2">
                    <button class="btn btn-outline-secondary btn-blk" style="width: 150px;" type="submit">Post</button>
                </div>
            </form>
        </div>
   
</div>
<!-- 2nd  -->
{% endblock update %}